.weather-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
}

.weather {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
}

.station {
    background-color: rgb(228, 228, 228);
    padding: 0.75rem;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 0 0 12px rgb(158, 158, 158);
}

.station-name {
    font-size: 14pt;
}

.latest-weather {
    display: flex;
    flex-wrap: wrap;
}

.observation-group {
    display: flex;
    flex: 1 1 fit-content;
    gap: 1rem;
    max-width: 450px;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.observation-group > img {
    box-shadow: 0 0 12px rgb(158, 158, 158);
    border: solid 1px white;
    border-radius: 5px;
}

.observation-overview {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.observation-details {
    height: 135px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.5rem;
    white-space: nowrap;
}

.text-description {
    color: rgb(94, 94, 94);
    font-size: 16pt;
}

.static-detail-text {
    font-weight: 500;
    color: rgb(94, 94, 94);
}

.current-temps {
    display: flex;
    flex-direction: column;
}

.current-temp-f {
    font-size: 45pt;
    font-weight: bold;
    line-height: 0.9;
}

.current-temp-c {
    font-size: 20pt;
}

.forecast {
    border-top: 1px solid lightgray;
    font-size: 12pt;
    padding-top: 0.5rem;
}
