body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10%;
    background: #f0f0f0;
    color: #333;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
}

img {
    width: 200px;
    margin-top: 20px;
}
