.link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 3rem;
    margin: 1rem;
    max-width: 900px;
    gap: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.link-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30pt;
    transition: transform 0.2s ease;
}

.link-grid-item:hover {
    transform: scale(1.1);
}

.link-grid-item img {
    vertical-align: middle;
    margin-right: 0.1em;
}

.link-grid-item a {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.link-grid-item a:visited {
    color: black;
}

.link-grid-item .github {
    display: flex;
    align-items: center;
}

.github-icon {
    width: 50px;
    height: 50px;
}

.link-grid-item .cloudflare {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cloudflare-icon {
    width: 65px;
    height: 70px;
}
