*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    user-select: none;
}

header {
    align-items: center;
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    display: flex;
}

main {
    flex: 1 1 auto;
    overflow-y: scroll;
}

footer {
    align-items: center;
    border-top: 3px solid lightgray;
    background-color: rgb(104, 104, 104);
    color: rgb(227, 227, 227);
    display: flex;
    padding: 0.5em;
}

.avatar {
    padding: 10px;
}
