.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: 1rem;
    padding: 1rem;
}

.grid-cell {
    aspect-ratio: 16/9;
    border: none;
}

.grid-cell.loading {
    border: 1px solid;
    border-color: darkgray;
}

.grid-cell > iframe {
    border: none;
    display: block;
    height: 100%;
    width: 100%;
}
