.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: 1rem;
    padding: 1rem;
}

.video-frame {
    aspect-ratio: 16/9;
    border: none;
}

.video-frame.loading {
    animation: bg-video-loading 2s ease-in-out infinite;
    border: 1px solid;
    border-color: darkgray;
    background-image: url("/img/play.png");
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    will-change: background-size;
}

@keyframes bg-video-loading {
    0%,
    100% {
        background-size: 20%;
    }
    50% {
        background-size: 22%;
    }
}

.video-frame > iframe {
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    /* transition: opacity 1s ease-in-out; */
}

.video-frame > iframe.loaded {
    opacity: 1;
}
